#return
  {
  float: right;
  }
#home
{
  float: left;
}
.baskets
{
        float: right;
}

.payement {
    margin-bottom: 1px;
    margin-left: 500px;
    width: 501px;
    height: 500px;
    position: fixed;
    bottom: 0;
}
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  padding-left: 50px;
  display: inline-flex;
 
}
.io {
    margin-right: 60px;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.io:hover {
  background-color: RoyalBlue;
}
#carte {
    float: right;
    width: 500px;
    padding-right: 0px;
    border: 2px solid black;
    text-align: center;
}
h2,
h4 { 
  font-family: "Abril Fatface", serif;
}

h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 100px;
  margin: 0 0 30px 0;
}


body{
 
  background-image: url("https://c.pshere.com/photos/30/a0/assorted_blurred_background_boutique_business_close_up_clothes_clothes_hanger_clothing-1000427.jpg!d");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  